@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Exo+2&family=Montserrat:wght@300&family=Raleway:wght@400;700&display=swap');

header {
    margin-bottom: 40px;
}

.contact-glavni {
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-glavni a {
    text-decoration: none;
}

.contact-header {
    margin-bottom: 30px;    
}

.contact-main {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.contact-main ul {
    width: 420px;
    border-radius: 8px;
    background: var(--light-blue, #EDF2F6);
    list-style:  none;
}

.contact-main li {
    padding: 15px 30px;
    cursor: pointer;
}

.contact-main p {
    margin-bottom: 10px;
    color: #000;
    font-family: Exo 2;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; 
}

.contact-main a {
    color: var(--dark-blue, #2A5275);
    font-size: 24px;
    font-weight: 600;
    line-height: 100%; 
    text-decoration: none;
}

.contact-main li:hover {
    background: #DAE4ED;
    transition: all 0.2s ease-in-out;
}

.hr {
    padding: 0;
}

.cotact-rejim {
    display: flex;
    gap: 10px;
}

.cotact-email {
    display: flex;
    gap: 10px;
}

.cotact-email p {
    color: var(--dark-blue, #2A5275);
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
}

.cotact-rejim p:nth-child(2) {
    color: var(--text-grey, #838688);
    font-size: 16px;
    font-weight: 400;
    line-height: 100%; 
}

iframe {
    border-radius: 8px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

/* connection */
.connection {
    margin-bottom: 80px;
}
.connect-head {
    margin-bottom: 30px;
    color: var(--text-main, #070C11);
    font-size: 36px;
    font-weight: 700;
    line-height: 130%; 
}

.contact-header {
    display: flex;
    gap: 20px;
}

.contact-tel:nth-child(1) {
    margin-bottom: 20px;
}

.contact-tel p {
    margin-bottom: 8px;
    color: var(--text-main, #070C11);
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
}

.contact-tel input {
    padding: 10px 10px 10px 20px;
    border-radius: 5px;
    border: 1px solid var(--card-border, #EAEAF0);
    background: #FFF;
}

.connect-textarea p {
    margin-bottom: 8px;
    color: var(--text-main, #070C11);
    font-size: 16px;
    font-weight: 400;
    line-height: 100%; 
}

.connect {
    border-radius: 5px;
    border: 1px solid var(--card-border, #EAEAF0);
    background: #FFF;
    border: none;
}

.connect input {
    width: 530px;
    height: 120px;
    padding: 16px 10px 10px 20px;
}

/* Responsive */
@media only screen and (max-width: 1400px) {
    .container {
      max-width: 1140px;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media only screen and (max-width: 992px) {
    .container {
      max-width: 720px;
    }

    .head {
        width: 690px;
    }

    .nav-contacts {
        display: none;
    }

    .bottom-nav {
        display: none;
    }

    .bottom-list {
        display: none;
    }

    .modal {
        display: none;
    }

    .hero-img img {
        width: 690px;
    }

    .card-item {
        display: flex;
        flex-wrap: wrap;
    }

    .card-list {
        width: 340px;
        margin-bottom: 30px;
    }

    .discount-data {
        display: flex;
        flex-direction: column;
    }

    .pindwing {
        margin-bottom: 20px;
        width: 690px;
    }

    .pindwings {
        margin-bottom: 20px;
        width: 690px;
    }

    .card-news {
        display: flex;
        flex-wrap: wrap;
    }

    .new-title {
        width: 690px;
        margin-bottom: 20px;
    }

    .footer-copyright {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-call p {
        display: inline-block;
    }

    .footer-list {
        text-align: center;
    }
 }

  @media only screen and (max-width: 540px) {
    .container {
        max-width: 390px;
    }

    .modal{
        position: fixed;  
        top: 10px;
        height: 100%;
        padding: 20px;
        background: var(--dark-blue, #2A5275);
        z-index:100000000;
    }
    
    .head {
        width: 370px;
    }

    .nav-contacts {
        display: none;
    }
    .nav-contacts ul {
        display: none;
    }

    .nav-poisk {
        display: none;
    }


    .bottom-nav {
        display: none;
    }

    .bottom-list {
        display: none;
    }

    .menu-title {
        width: 330px;
        padding: 18px 25px;
    }

    .active{
        display: block;
    }

    .hero-img img {
        width: 370px;
    }

    .contact-main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .contacr-map iframe {
        width: 370px;
    }

    .contact-header {
        display: flex;
        flex-wrap: wrap;
    }

    .connect {
        width: 370px;
    }

    hr {
        width: 370px;
    }

    .footer-item {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 80px;
      }
    
      .footer-list {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px;
      }
    
    .footer-copyright {
        width: 370px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
    }

    .menu-list{
        position: fixed;
        width: 100%;
        bottom: 0;
        display: flex;
        z-index: 1000000000000000000000;
    }

  }
/* /responsive */