.section-katolig {
  margin-bottom: 50px;
  display: flex;
  gap: 15px;
}

.katolig-menu {
  width: 290px;
}

.dropdown {
  margin-bottom: 30px;
}

.drapdown-menu {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 20px;
  border-radius: 4px;
  background: var(--light-blue, #edf2f6);
}

.drapdown-menu p {
  color: var(--text-main, #070c11);
  font-family: Exo 2;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; 
}

.katolig-form {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.katolig-form input {
  width: 117px;
  padding: 10px 10px 10px 20px;
  border-radius: 4px;
  border: 1px solid var(--card-border, #eaeaf0);
}

.katolig-form label {
  color: var(--text-grey, #838688);
  font-family: Exo 2;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.range {
  margin-bottom: 20px;
  width: 100%;
}

.submit {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  background: var(--blue, #4878a6);
  color: #fff;
  font-family: Exo 2;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}

.submit:hover {
  background-color: aquamarine;
  transition: all 0.3s ease-in-out;
}

.chekx-box {
  margin-bottom: 40px;
}

.checkbox-wrapper-13 {
  margin-bottom: 10px;
}

/* chekbox */
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .checkbox-wrapper-13 input[type="checkbox"] {
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  .checkbox-wrapper-13 input[type="checkbox"]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .checkbox-wrapper-13 input[type="checkbox"]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:disabled + label {
    cursor: not-allowed;
  }
  .checkbox-wrapper-13
    input[type="checkbox"]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch) {
    width: 21px;
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):after {
    opacity: var(--o, 0);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):checked {
    --o: 1;
  }
  .checkbox-wrapper-13 input[type="checkbox"] + label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 4px;
  }

  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch) {
    border-radius: 7px;
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):checked {
    --r: 43deg;
  }
}

.checkbox-wrapper-13 * {
  box-sizing: inherit;
}
.checkbox-wrapper-13 *:before,
.checkbox-wrapper-13 *:after {
  box-sizing: inherit;
}

/* katolig-card */
.card-menu {
  display: flex;
  gap: 290px;
  margin-bottom: 26px;
}

.card-header ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

.card-header li {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 10px 6px 10px;
  border-radius: 102px;
  background: var(--light-blue, #edf2f6);
}

.katolig-search {
  display: flex;
  align-items: center;
  grid-area: 15px;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid var(--card-border, #eaeaf0);
}

.katolig {
  gap: 5px;
  flex-wrap: wrap;
}
